config.json 
configs.py
pilot_lib/h_export.py
pilot_lib/h_cov.py
# seeker.py

trash.py
**/config.json
**/instances.json

database*/
logs*/
*workspace*/
*metadata*/
chats*/
archive/
persistent/
periodic/
preset/
snapdata/
tools/
tmp/

program/*

tmp*.json
**/.cargo/registry/
**/.cargo/git/
**/target/

*.so
*.so.*
