pilot_lib/h_export.py
pilot_lib/h_cov.py
pilot_lib/tool.py
reformat_original.py 
hd_strategy.json 
instances.json 
benchmark.json

#
__pycache__/
*.py[cod]

config.json 
configs.py
trash.py
**/config.json
**/instances.json

database*/
logs*/
seed*/
*workspace*/
*metadata*/
chats*/
archive/
persistent/
periodic/
preset/
snapdata/
tools/
tmp/
transit/
exp/
set/
seed_tmp/

program/*

tmp*.json
**/.cargo/registry/
**/.cargo/git/
**/target/

*.so
*.so.*
